:80 {
	handle /api/* {
		reverse_proxy backend:8090
	}
	handle /internal/* {
		reverse_proxy backend:8090
	}
	handle /scim/* {
		reverse_proxy backend:8090
	}
	handle /ws/* {
		reverse_proxy backend:8090
	}
	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
